<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UserDataPermissions.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <UserDataPermissions.Settings>
            <setting name="pathUserData" serializeAs="String">
                <value>E:\UserData</value>
            </setting>
            <setting name="domain" serializeAs="String">
                <value>mydomain.local</value>
            </setting>
            <setting name="fullAccessUsers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Administratoren</string>
                        <string>SYSTEM</string>
                        <string>Domänencomputer</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="defaultGroup" serializeAs="String">
                <value>Authentifizierte Benutzer</value>
            </setting>
            <setting name="ownersGroup" serializeAs="String">
                <value>ERSTELLER-BESITZER</value>
            </setting>
            <setting name="exceptions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>DfsrPrivate</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="skipParentPermissions" serializeAs="String">
                <value>False</value>
            </setting>
        </UserDataPermissions.Settings>
    </applicationSettings>
</configuration>
